@import "variables";
@import "vendor/slick";

.video-slider {  
  margin-left: -10px;
  margin-right: -10px;

  .video-item {
    cursor: pointer;
    outline: none;
    text-align: center;
    padding: 10px;

    &:hover,
    &:focus,
    &:active {
      outline: none;
    }

    h4 {
      @media all and (max-width: $grid-float-breakpoint) {
        font-size: 20px;
      }

      @media all and (max-width: $screen-sm-min) {
        font-size: 18px;
      }
    }
  }

  .slick-arrow {
    background: $dropdown-link-hover-color;

    &:hover {
      background: darken($dropdown-link-hover-color, 5%);
    }
  }
  
  .slick-arrow-prev, // sass-lint:disable-line empty-line-between-blocks
  .slick-arrow-next { // sass-lint:disable-line empty-line-between-blocks
    top: 32%;
    cursor: pointer;
    z-index: 100;
    border-radius: 50%;
    height: 40px;
    width: 40px;
    justify-content: center;
    display: flex;
    flex-direction: column;
    text-align: center;
    box-shadow: 0 1px 4px rgba(0, 0, 0, .3);
    position: absolute;

    i {
      color: $color-white;
    }
  }  

  .slick-arrow-next {
    right: -10px;  

    @media all and (max-width: $screen-sm-min) {
      right: 0;
    }
  }

  .slick-arrow-prev { // sass-lint:disable-line empty-line-between-blocks
    left: -10px;

    @media all and (max-width: $screen-sm-min) {
      left: 0;
    }
  }
}
