---
layout: handbook-page-toc
title: "Dev Career Framework: Senior Backend Engineer"
---

## On this page
{:.no_toc .hidden-md .hidden-lg}

- TOC
{:toc .hidden-md .hidden-lg}

## Dev Senior Backend Engineer (BE)
 
<%= partial("handbook/engineering/career-development/matrix/engineering/development/dev/dev_be_career_matrix_nav.erb") %>

**Dev Senior Backend Engineers at GitLab are expected to exhibit the following competencies:**

* Leadership Competencies 
* Technical Competencies 
* Values Alignment 

---

### Leadership Competencies

<%= partial("handbook/engineering/career-development/matrix/engineering/engineering_senior_leadership_competency.erb") %>
  
 <%= partial("handbook/engineering/career-development/matrix/engineering/development/dev/senior/backend/dev_be_senior_leadership_competency.erb") %>

### Technical Competencies

<%= partial("handbook/engineering/career-development/matrix/engineering/engineering_senior_technical_competency.erb") %>

 <%= partial("handbook/engineering/career-development/matrix/engineering/development/dev/senior/backend/dev_be_senior_technical_competency.erb") %>

###  Values Alignment

<%= partial("handbook/engineering/career-development/matrix/engineering/values_competency.erb") %>

<%= partial("handbook/engineering/career-development/matrix/engineering/development/dev/dev_be_career_matrix_nav.erb") %>